@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto.woff') format('woff'),
        url('../fonts/Roboto/Roboto.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Robotomedium.woff') format('woff'),
        url('../fonts/Roboto/Robotomedium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
